## Assigment of week 3.
## Segmenting and Clustering Neighborhoods in Toronto
### Part 1

In this notebook, I will create the dataframe with the info about Toronto Postal Code. I used:  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes. I will transform the data into a pandas dataframe.

In [1]:
# import libraries
import pandas as pd 
import numpy as np

In order to get the data, I copied the table from wikipedia web page and paste into a excel file and ordered it by Postal Code. Also, I joined the neighborhoods with the same Postal Code:

In [2]:
#read the data in a csv
df=pd.read_excel('toronto_zip_code.xlsx')
df.head()

  Postal Code       Borough                            Neighborhood
0         M1A  Not assigned                            Not assigned
1         M1B   Scarborough                          Malvern, Rouge
2         M1C   Scarborough  Rouge Hill, Port Union, Highland Creek
3         M1E   Scarborough       Guildwood, Morningside, West Hill
4         M1G   Scarborough                                  Woburn

In [3]:
#to know how many records are, we use shape function
df.shape

(180, 3)

I have 180 records (rows), so, how many rows are with borough "Not assigned" ?

In [4]:
#delete data with not assigned 
df['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

Now, we have to remove the 77 rows when Borough is "Not assigned". In order to do it, I replaced "Not assigned" by NaN and later drop rows with NaN:

In [5]:
# replace "Not assigned" to NaN
df.replace("Not assigned", np.nan, inplace = True)
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [6]:
#after replace the data for NaN,  drop this rows:
df.dropna(subset=['Borough'],axis=0, inplace= True)

In [7]:
#finally, print the number of rows of your dataframe.
df.shape

(103, 3)

We save this dataframe in a csv file in order to use in the next notebook, when I need to add latitude and longitude for each neighborhood:

In [8]:
df.to_csv('torontozipcode.csv')